<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Lugh{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/jquery.fullpage.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5NGNL5R');</script>
        <!-- End Google Tag Manager -->
    {% endblock %}
</head>
<!-- Google Tag Manager -->

<body id="body">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5NGNL5R"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<div id="nav-mobile" class="nav-mobile">
    <div class="closeButton">&times</div>
    <a href="">Home</a>
    <a href="">Entreprise</a>
    <a href="">Artiste</a>
    <a href="">Galerie</a>
    <a href="">Contact</a>
    {%

        if is_granted('ROLE_USER') == false  %}
        <a href="/login">Connexion</a>
    {% endif %}
    {% if is_granted('ROLE_USER') == true  %}
        <a href="/profil">Mon Espace</a>
        <a href="/logout">Déconnexion</a>
    {% endif %}
    <div id="rs-mobile">
        <a target="_blank" href="https://twitter.com/Hello_lugh">twitter</a>
        <a target="_blank" href="https://www.facebook.com/Lugh-art-sur-commande-en-entreprise-567883830278473/">facebook</a>
        <a target="_blank" href="https://www.instagram.com/lugh_france/">instagram</a>
        <a target="_blank" href="https://www.linkedin.com/company/lugh-entreprise/">linkedin</a>
        <a target="_blank" href="https://medium.com/@lugh.entreprise">medium</a>
    </div>
</div>
<div class="button-burger button-burger-active">
    <div class="nav-burger">&#9776;</div>
</div>



<script type="text/javascript">

    var gaq = gaq || [];
    _gaq.push(['_setAccount', 'UA-120903004-1']);
    _gaq.push(['_trackEvent']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>


{% block layout_content %}
{% endblock %}





{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.fullpage.min.js') }}"></script>

<script>
    $('.nav-burger').on('click', function() {
        $('.nav-mobile').addClass('burger-active');
    });
    $('.closeButton').on('click', function() {
        $('.nav-mobile').removeClass('burger-active');
    });
</script>

{% endblock %}
</body>
</html>