{% extends "base-2.html.twig" %}
{% block layout_content %}

    <div class="left-bar">
        <div class="content-left">
            <div id="div-logo-profil">
                <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252.6 94.4"><title>Fichier 4</title>
                    <g id="Calque_2" data-name="Calque 2">
                        <g id="Calque_1-2" data-name="Calque 1">
                            <path d="M0,4.2H16.2V61H51.3V74.2H0Z"/>
                            <path d="M113.1,20.4V74.2H98.3V67.8a20.78,20.78,0,0,1-7.4,5.35A23.36,23.36,0,0,1,81.6,75Q71,75,64.8,68.9T58.6,50.8V20.4H74.2V48.5q0,13,10.9,13a11.74,11.74,0,0,0,9-3.65Q97.49,54.21,97.5,47V20.4Z"/>
                            <path d="M183.1,20.4V65.2q0,14.8-7.7,22t-22.5,7.2a56.1,56.1,0,0,1-14.8-1.9A32.33,32.33,0,0,1,126.5,87l6.2-11.2a25.36,25.36,0,0,0,8.6,4.45,34.17,34.17,0,0,0,10.4,1.65q8.1,0,12-3.65t3.85-11V64.9q-6.1,6.7-17,6.7A28.49,28.49,0,0,1,137,68.35a24.82,24.82,0,0,1-9.75-9.15,25.58,25.58,0,0,1-3.6-13.6A25.58,25.58,0,0,1,127.2,32,24.82,24.82,0,0,1,137,22.85,28.49,28.49,0,0,1,150.5,19.6q11.7,0,17.8,7.7V20.4ZM163.75,55.15a12.41,12.41,0,0,0,3.95-9.55,12.41,12.41,0,0,0-3.95-9.55,16,16,0,0,0-20.35,0,12.31,12.31,0,0,0-4,9.55,12.31,12.31,0,0,0,4,9.55,16,16,0,0,0,20.35,0Z"/>
                            <path d="M246.45,25.6q6.15,6,6.15,17.8V74.2H237V45.8q0-6.4-2.8-9.55t-8.1-3.15a12.41,12.41,0,0,0-9.4,3.65q-3.51,3.64-3.5,10.85V74.2H197.6V0h15.6V26a20.59,20.59,0,0,1,7.5-4.75,27.11,27.11,0,0,1,9.6-1.65Q240.29,19.6,246.45,25.6Z"/>
                        </g>
                    </g>
                </svg>
            </div>
            <div>
                <img src="{{ asset('uploads/' ~ app.user.photo_profil) }}">
            </div>
            <div class="card-title">{{ app.user.username }}</div>

            {% if is_granted("ROLE_USER") == true and app.user.art_ent == 2 %}
            <div class="cont-btn-profil">
                <button onclick="diplayNoneFormComp()" class="side-button-profil">Informations</button>
                <div id="side-info-art" class="side-color orange"></div>
            </div>
            <div class="cont-btn-profil">
                <button onclick="diplayNoneFormInfo()" class="side-button-profil">Profil Artiste</button>
                <div id="side-pro-art" class="side-color orange none"></div>
            </div>
            <div class="cont-btn-profil">
                <button onclick="diplayNoneFormRea()" class="side-button-profil">Réalisations</button>
                <div id="side-rea-art" class="side-color orange none"></div>
            </div>

            {% endif %}
            {% if is_granted("ROLE_USER") == true and app.user.art_ent == 1 %}
                <div class="cont-btn-profil">
                    <button onclick="diplayNoneFormInfoEnt()" class="side-button-profil">Informations</button>
                    <div id="side-info-ent" class="side-color"></div>
                </div>
            <div class="cont-btn-profil">
                <button onclick="diplayNoneFormProEnt()" class="side-button-profil">Profil Entreprise</button>
                <div id="side-pro-ent" class="side-color none"></div>
            </div>
            {% endif %}
        </div>
    </div>


    <section class="section section-profil">


        <div class="profil-container">
            <a href="/" ><h3 class="h3-profil">< Retour au site</h3></a>

            <div class="left-bar-mobile">

                    {% if is_granted("ROLE_USER") == true and app.user.art_ent == 2 %}
                        <div class="cont-btn-profil">
                        <button onclick="diplayNoneFormComp()" class="side-button-profil">Informations</button>
                        <div id="side-info-art-mobile" class="side-color orange"></div>
                        </div>
                <div class="cont-btn-profil">
                        <button onclick="diplayNoneFormInfo()" class="side-button-profil">Profil Artiste</button>
                        <div id="side-pro-art-mobile" class="side-color orange none"></div>
                </div>
                <div class="cont-btn-profil">
                        <button onclick="diplayNoneFormRea()" class="side-button-profil">Réalisations</button>
                        <div id="side-rea-art-mobile" class="side-color orange none"></div>
                </div>

                    {% endif %}

                    {% if is_granted("ROLE_USER") == true and app.user.art_ent == 1 %}
                <div class="cont-btn-profil">
                <button onclick="diplayNoneFormInfoEnt()" class="side-button-profil">Informations</button>
                    <div id="side-info-ent-mobile" class="side-color"></div>
                </div>
                <div class="cont-btn-profil">
                    <button onclick="diplayNoneFormProEnt()" class="side-button-profil">Profil Entreprise</button>
                    <div id="side-pro-ent-mobile" class="side-color none"></div>
                </div>
                    {% endif %}

            </div>

            {% if is_granted("ROLE_USER") == true and app.user.art_ent == 2 %}

                <h2 id="h2-info-art">Mes informations</h2>
                <h2 id="h2-pro-art" class="none">Mon profil</h2>
                <h2 id="h2-rea-art" class="none">Mes réalisations</h2>


            {% endif %}

            {% if is_granted("ROLE_USER") == true and app.user.art_ent == 1 %}

                <h2 id="h2-info-ent" class="blue">Mes informations</h2>
                <h2 id="h2-pro-ent" class="blue none">Mon profil</h2>


            {% endif %}

            <form id="complete_artiste" name="complete_artiste" method="post">
                <div>
                    <div class="flex-form">
                        <div>
                            <label for="complete_artiste_nom" class="required">Nom</label>
                            <input type="text" id="complete_artiste_nom" name="complete_artiste[nom]"
                                   value="{{ app.user.nom }}"/>
                        </div>
                        <div>
                            <label for="complete_artiste_prenom" class="required">Prenom</label>
                            <input type="text" id="complete_artiste_prenom" name="complete_artiste[prenom]"
                                   value="{{ app.user.prenom }}"/>
                        </div>
                    </div>
                    <div class="flex-form">
                        <div>
                            <label for="complete_artiste_email" class="required">Email</label>
                            <input type="email" id="complete_artiste_email" name="complete_artiste[email]"
                                   value="{{ app.user.email }}"/>
                        </div>
                        <div>
                            <label for="complete_artiste_adresse" class="required">Adresse</label>
                            <input type="text" id="user_input_autocomplete_address" name="complete_artiste[adresse]"
                                   value="{{ app.user.adresse }}"/>
                        </div>
                    </div>
                    <div>
                        <label for="complete_artiste_telephone" class="required">Telephone</label>
                        <input type="text" id="complete_artiste_telephone" name="complete_artiste[telephone]"
                               value="{{ app.user.telephone }}"/>
                    </div>
                    <div class="btn-form-profil">
                        <button type="submit" id="complete_artiste_save" name="complete_artiste[save]" class="save">
                            Enregistrer
                        </button>
                    </div>
                    {{ form_row(form_art._token) }}
                </div>
            </form>

            {% if is_granted("ROLE_USER") == true and app.user.art_ent == 1 %}

                <div id="image-right-ent" class="background-right img-fadein image-right"></div>
                <div id="ident-ent">
                    <h3>Identification de l’entreprise</h3>
                    <form name="info_ent" method="post">
                        <div id="info_ent">
                            <div class="flex-form">
                                <div>
                                    <label for="info_ent_raison_sociale" class="required">Raison sociale</label>
                                    <input type="text" id="info_ent_raison_sociale" name="info_ent[raison_sociale]"
                                           required="required" value=""/>
                                </div>
                                <div>
                                    <label for="info_ent_siren" class="required">Siren</label>
                                    <input type="text" id="info_ent_siren" name="info_ent[siren]" required="required"
                                           value=""/>
                                </div>
                            </div>
                            <div class="flex-form">
                                <div>
                                    <label for="info_ent_siret" class="required">Siret</label>
                                    <input type="text" id="info_ent_siret" name="info_ent[siret]" required="required"
                                           value=""/>
                                </div>
                                <div>
                                    <label for="info_ent_telephone_ent" class="required">Telephone ent</label>
                                    <input type="text" id="info_ent_telephone_ent" name="info_ent[telephone_ent]"
                                           required="required" value=""/>
                                </div>
                            </div>
                            <div>
                                <label for="info_ent_adresse_ent" class="required">Adresse ent</label>
                                <input type="text" id="info_ent_adresse_ent" name="info_ent[adresse_ent]"
                                       required="required" value=""/>
                            </div>
                            <div class="btn-form-profil">
                                <button type="submit" id="info_ent_save" name="info_ent[save]" class="save">Enregistrer
                                </button>
                            </div>
                            <input type="hidden" id="info_ent__token" name="info_ent[_token]"
                                   value="lBi3gZ3sdeTjN5iLzP58GcTr4Z_42ZWI5XMEG9mQYuA"/></div>
                    </form>

                </div>
                <div id="profil-ent" class="none">
                    <form name="profil_ent" method="post">
                        <div id="profil_ent">
                            <div>
                                <label for="profil_ent_secteur" class="required">Secteur</label>
                                <select id="profil_ent_secteur" name="profil_ent[secteur]">
                                    <option value="Agroalimentaire">Agroalimentaire</option>
                                    <option value="Banque / Assurance">Banque / Assurance</option>
                                    <option value="Bois / Papier / Carton / Imprimerie">Bois / Papier / Carton / Imprimerie</option>
                                    <option value="BTP / Matériaux de construction">BTP / Matériaux de construction</option>
                                    <option value="Chimie / Parachimie">Chimie / Parachimie</option>
                                    <option value="Commerce / Négoce / Distribution">Commerce / Négoce / Distribution</option>
                                    <option value="Édition / Communication / Multimédia">Édition / Communication / Multimédia</option>
                                    <option value="Électronique / Électricité">Électronique / Électricité</option>
                                    <option value="Études et conseils">Études et conseils</option>
                                    <option value="Industrie pharmaceutique">Industrie pharmaceutique</option>
                                    <option value="Informatique / Télécoms">Informatique / Télécoms</option>
                                    <option value="Machines et équipements / Automobile">Machines et équipements / Automobile</option>
                                    <option value="Métallurgie / Travail du métal">Métallurgie / Travail du métal</option>
                                    <option value="Plastique / Caoutchouc">Plastique / Caoutchouc</option>
                                    <option value="Services aux entreprises">Services aux entreprises</option>
                                    <option value="Textile / Habillement / Chaussure">Textile / Habillement / Chaussure</option>
                                    <option value="Transports / Logistique">Transports / Logistique</option>
                                    <option value="Autre...">Autre...</option>
                                </select>
                            </div>
                            <div>

                                <label for="profil_ent_histoire" class="required">Histoire</label>
                                <textarea id="profil_ent_histoire" name="profil_ent[histoire]" required="required"></textarea>
                            </div>
                            <div>

                                <label for="profil_ent_identite" class="required">Identité</label>
                                <textarea id="profil_ent_identite" name="profil_ent[identite]" required="required"></textarea>
                            </div>
                            <div>
                                <label for="profil_ent_activite" class="required">Activite</label>
                                <textarea id="profil_ent_activite" name="profil_ent[activite]" required="required"></textarea>
                            </div>

                            <div class="btn-form-profil">
                                <button type="submit" id="profil_ent_save" name="profil_ent[save]" class="save">Enregistrer</button>
                            </div>
                            {{ form_row(form_profil_ent._token) }}
                            </div>
                    </form>

                </div>



            {% endif %}

            {% if is_granted("ROLE_USER") == true and app.user.art_ent == 2 %}


                <div id="image-right-art" class="background-right img-fadein image-right"></div>



                <form id="form-realisations" class="none" name="realisations" method="post"
                      enctype="multipart/form-data">
                    <div id="realisations">
                        <div>
                            <label for="realisations_realisations" class="required">Realisations (jpg file)</label>
                            <input type="file" id="realisations_realisations" name="realisations[realisations]"
                                   required="required"/>
                        </div>
                        <div class="btn-form-profil">
                            <button type="submit" id="realisations_save" name="realisations[save]" class="save">Enregistrer
                            </button>
                        </div>
                        {{ form_row(form_real._token) }}
                    </div>
                </form>

                <form id="info_artiste" name="info_artiste" method="post" class="none">
                    <div id="info_artiste">
                        <div>
                            <label for="info_artiste_description" class="required">Description</label>
                            <textarea id="info_artiste_description" name="info_artiste[description]"
                                      required="required"></textarea>
                        </div>
                        <div>
                            <label for="info_artiste_formation" class="required">Formation</label>
                            <textarea id="info_artiste_formation" name="info_artiste[formation]"
                                      required="required"></textarea>
                        </div>
                        <div>
                            <label for="info_artiste_experience" class="required">Experience</label>
                            <textarea id="info_artiste_experience" name="info_artiste[experience]"
                                      required="required"></textarea>
                        </div>
                        <div class="btn-form-profil">
                            <button type="submit" id="info_artiste_save" name="info_artiste[save]" class="save">Enregistrer
                            </button>
                        </div>
                        <input type="hidden" id="info_artiste__token" name="info_artiste[_token]"/>
                    </div>
                </form>
                <div>

                    <img src="{{ asset('uploads/' ~ app.user.realisations) }}">
                </div>


            {% endif %}


        </div>
        </div>


    </section>

    <!-- Include Google Maps JS API -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCPx9-c7_wRoUlBnzW4Ws0BSyKcSPqMA2k">
    </script>

    <!-- Custom JS code to bind to Autocomplete API -->
    <!-- find it here: https://github.com/lewagon/google-place-autocomplete/blob/gh-pages/autocomplete.js -->
    <!-- We'll detail this file in the article -->
    <script type="text/javascript">
        function initializeAutocomplete(id) {
            var element = document.getElementById(id);
            if (element) {
                var autocomplete = new google.maps.places.Autocomplete(element, {types: ['geocode']});
                google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
            }
        }

        function onPlaceChanged() {
            var place = this.getPlace();

            // console.log(place);  // Uncomment this line to view the full object returned by Google API.

            for (var i in place.address_components) {
                var component = place.address_components[i];
                for (var j in component.types) {  // Some types are ["country", "political"]
                    var type_element = document.getElementById(component.types[j]);
                    if (type_element) {
                        type_element.value = component.long_name;
                    }
                }
            }
        }

        google.maps.event.addDomListener(window, 'load', function () {
            initializeAutocomplete('user_input_autocomplete_address');
        });

        function diplayNoneFormRea() {
            document.getElementById('complete_artiste').classList.add('none');
            document.getElementById('info_artiste').classList.add('none');
            document.getElementById('form-realisations').classList.remove('none')
            document.getElementById('h2-info-art').classList.add('none');
            document.getElementById('h2-pro-art').classList.add('none');
            document.getElementById('h2-rea-art').classList.remove('none');
            document.getElementById('side-info-art').classList.add('none');
            document.getElementById('side-pro-art').classList.add('none');
            document.getElementById('side-rea-art').classList.remove('none');
            document.getElementById('side-info-art-mobile').classList.add('none');
            document.getElementById('side-pro-art-mobile').classList.add('none');
            document.getElementById('side-rea-art-mobile').classList.remove('none');
        }

        function diplayNoneFormComp() {
            document.getElementById('complete_artiste').classList.remove('none');
            document.getElementById('info_artiste').classList.add('none');
            document.getElementById('form-realisations').classList.add('none');
            document.getElementById('h2-info-art').classList.remove('none');
            document.getElementById('h2-pro-art').classList.add('none');
            document.getElementById('h2-rea-art').classList.add('none');
            document.getElementById('side-info-art').classList.remove('none');
            document.getElementById('side-pro-art').classList.add('none');
            document.getElementById('side-rea-art').classList.add('none');
            document.getElementById('side-info-art-mobile').classList.remove('none');
            document.getElementById('side-pro-art-mobile').classList.add('none');
            document.getElementById('side-rea-art-mobile').classList.add('none');
        }

        function diplayNoneFormInfo() {
            document.getElementById('info_artiste').classList.remove('none');
            document.getElementById('complete_artiste').classList.add('none');
            document.getElementById('form-realisations').classList.add('none');
            document.getElementById('h2-info-art').classList.add('none');
            document.getElementById('h2-pro-art').classList.remove('none');
            document.getElementById('h2-rea-art').classList.add('none');
            document.getElementById('side-info-art').classList.add('none');
            document.getElementById('side-pro-art').classList.remove('none');
            document.getElementById('side-rea-art').classList.add('none');
            document.getElementById('side-info-art-mobile').classList.add('none');
            document.getElementById('side-pro-art-mobile').classList.remove('none');
            document.getElementById('side-rea-art-mobile').classList.add('none');


        }
        function diplayNoneFormProEnt(){
            document.getElementById('profil-ent').classList.remove('none');
            document.getElementById('complete_artiste').classList.add('none');
            document.getElementById('ident-ent').classList.add('none');
            document.getElementById('h2-info-ent').classList.add('none');
            document.getElementById('h2-pro-ent').classList.remove('none');
            document.getElementById('side-info-ent').classList.add('none');
            document.getElementById('side-pro-ent').classList.remove('none');
            document.getElementById('side-info-ent-mobile').classList.add('none');
            document.getElementById('side-pro-ent-mobile').classList.remove('none');
        }
        function diplayNoneFormInfoEnt(){
            document.getElementById('profil-ent').classList.add('none');
            document.getElementById('complete_artiste').classList.remove('none');
            document.getElementById('ident-ent').classList.remove('none');
            document.getElementById('h2-info-ent').classList.remove('none');
            document.getElementById('h2-pro-ent').classList.add('none');
            document.getElementById('side-info-ent').classList.remove('none');
            document.getElementById('side-pro-ent').classList.add('none');
            document.getElementById('side-info-ent-mobile').classList.remove('none');
            document.getElementById('side-pro-ent-mobile').classList.add('none');
        }

        var btnprofil = document.getElementById('side-info-ent');
        if($("#side-info-ent").is('none')){
            document.getElementById('side-info-ent').classList.add('side-visible')

        };




    </script>
{% endblock %}